@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 50, 50, 100;
  --background-end-rgb: 20, 20, 20;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 50, 50, 100;
    --background-end-rgb: 20, 20, 20;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  /*my-2*/
  margin-top: 0.5rem /* 8px */;
  margin-bottom: 0.5rem /* 8px */;
  /*text-xl*/
  font-size: 1.5rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  /*font-semibold*/
  font-weight: 600;
}

h2 {
  /*my-2*/
  margin-top: 0.5rem /* 8px */;
  margin-bottom: 0.5rem /* 8px */;
  /*text-lg*/
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  /*font-semibold*/
  font-weight: 600;
}
